[install]
address=http://downloads.sourceforge.net/project/boost/boost/1.53.0/boost_1_53_0.tar.bz2
build_out_of_sources=False
method=bootstrap
maker=b2
# failed to compile those ...
flags=--without-libraries='context iostreams'
installer_flags=--without-context --without-iostreams --prefix={prefix}
#installer_flags=link=static,shared threading=multi --without-context --without-iostreams --prefix={prefix} --layout=system
environment=CXX=$ROOT_GCC_4_8_LIGHT/bin/g++ CC=$ROOT_GCC_4_8_LIGHT/bin/gcc
dependencies=gcc-4.8-light
