# you need to export CC and GCC to a valid arm compiler
[install]
address=http://linuxtv.org/downloads/v4l-utils/v4l-utils-1.10.0.tar.bz2
flags=--build=$BUILDMACH --prefix=$INSTALLDIR --target=$TARGETMACH --host=$TARGETMACH --without-jpeg
#flags=--host=arm
#dependencies=jpeg
#environment=CPPFLAGS="${{CPPFLAGS}}${{CPPFLAGS+ }}-I$ROOT_JPEG/include" LDFLAGS="${{LDFLAGS}}${{LDFLAGS+ }}-L$ROOT_JPEG/lib"
# extracted from http://archive.debian.org/debian-archive/debian/pool/main/v/v4l-utils/libv4l-0_0.8.0-1_armel.deb
check={prefix}/usr/lib/libv4l1.so.0
